* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    /* #9F5499 */
}
.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/**** VIDEO CONTAINER *****/
.video-container {
    /*display: none;*/
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
}
.time-select,
.sound-picker,
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/****** TIME SELECT *****/
.time-select button, .sound-picker button {
    color: #fff;
    width: 30%;
    height: 10%;
    background: none;
    border: 3px solid #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}
.time-select button:hover {
    color: #fff;
    background: #9F5499;
    transition: all 0.3s ease;
    border: 3px solid #9F5499;
}
.time-display {
    position: absolute;
    bottom: 10%;
    color: #fff;
    font-size: 50px;
}
/***** PLAYER CONTAINER *****/
.player-container {
    position: relative;
}
.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}
/***** SOUND PICKER *****/
.sound-picker button {
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 3px;
}
.sound-picker button:nth-child(1) {
    background-color: #4972a1;
}
.sound-picker button:nth-child(2) {
    background-color: #a19849;
}
.sound-picker button:nth-child(3) {
    background-color: #4972a1;
}
.sound-picker button:nth-child(4) {
    background-color: #49a14d;
}
.sound-picker button:nth-child(5) {
    background-color: #89a149;
}
.sound-picker button:nth-child(6) {
    background-color: #4976a1;
}
.sound-picker button img {
    height: 100%;
}
.sound-picker button i {
    font-size: 2rem;
    /*height: 100%;*/
}
/***** MEDIA QUERIES *****/
@media only screen and (max-width: 420px) {
    .app {
        flex-direction: column;
    }
    .sound-picker, .time-select {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sound-picker button {
        height: 50px;
        width: 50px;
        margin-left: 0.3rem;
    }
    .sound-picker button i {
        font-size: 1rem;
    }
    .time-select button {
        width: 50%;
        height: 20%;
        margin-left: 0.3rem;
    }
    .time-display {
        bottom: -30%;
        font-size: 40px;
    }
    .player-container svg {
        height: 100%;
    }
}